{% extends 'blog/base.html' %}

{% block content %}
<div class="card mx-auto" style="background-color: #1e1e1e; color: white; width: 30vw;">
    <div class="card-body">
        <h2 class="card-title">用户注册</h2>

        {% if messages %}
        {% for message in messages %}
        <div class="alert alert-danger">{{ message }}</div>
        {% endfor %}
        {% endif %}

        <form method="post">
            {% csrf_token %}
            {{ form.as_p }}
            <button type="submit" class="btn btn-primary">注册</button>
        </form>
    </div>
</div>
{% endblock %}