{% load static %}

<html>

<head>
    <title>My Blog</title>
    <link rel="stylesheet" href="{% static 'css/bootstrap.css' %}">
    <link rel="stylesheet" href="{% static 'css/blog.css' %}">
</head>

<body class="bg-dark text-light">
    <div class="container">
        <nav class="navbar navbar-expand-lg navbar-dark" style="background-color: #187f58;">
            <div class="container-fluid">
                <a class="navbar-brand h1" href="/">Django Blog</a>
                <div class="d-flex">
                    {% if user.is_authenticated %}
                    <a href="{% url 'post_create' %}" class="btn btn-outline-light mx-1">新博客</a>
                    {% endif %}

                    {% if user.is_authenticated %}
                    <a href="{% url 'logout' %}" class="btn btn-outline-light mx-1">注销</a>
                    {% else %}
                    <a href="{% url 'register' %}" class="btn btn-outline-light mx-1">注册</a>
                    <a href="{% url 'login' %}" class="btn btn-outline-light mx-1">登录</a>
                    {% endif %}
                </div>
            </div>
        </nav>
    </div>
    <br>

    <div class="container">
        <div class="row"></div>
        {% block content %}
        {% endblock %}
    </div>

</body>

</html>