{% load static %}
<html>

<head>
    <title>Django Blog</title>
    <link rel="stylesheet" href="{% static 'css/bootstrap.css' %}">
    <link href="//fonts.googleapis.com/css?family=Lobster&subset=latin,latin-ext" rel="stylesheet" type="text/css">
    <link rel="stylesheet" href="{% static 'css/blog.css' %}">
</head>

<body class="text-bg-dark">
    <div class="container text-bg-success head-container">
        <!-- <div class="head" style="height: 10vh;"> -->
            <div class="row head-row">
                <div class="col-md-3">
                    <a href="/" class="h1">Django Blog</a>
                </div>
                <div class="col-md-6"></div>
                {% if user.is_authenticated %}
                <div class="col-md-3 text-end">
                    <a href="{% url 'post_new' %}" class="btn btn-primary">新博客</a>
                </div>
                {% endif %}
            </div>
        <!-- </div> -->
    </div>
    <hr>

    <div class="content container">
        <div class="row">
            <div class="col">
                {% block content %}
                {% endblock %}
            </div>
        </div>
    </div>
</body>

</html>