{% extends "blog/base.html" %}

{% block content %}
<div class="card" style="background-color: #1e1e1e; color: white;">
    <div class="card-body">
        <div class="d-flex justify-content-between mb-2">
            <div>
                <h2 class="card-title">{{ post.title }}</h2>
            </div>

            {% if messages %}
            {% for message in messages %}
            {% if message.tags == 'error' %}
            <div class="alert alert-danger">{{ message }}</div>
            {% elif message.tags == 'success' %}
            <div class="alert alert-success">{{ message }}</div>
            {% else %}
            <div class="alert alert-info">{{ message }}</div>
            {% endif %}
            {% endfor %}
            {% endif %}


            <div>
                {% if user.is_authenticated %}
                <a href="{% url 'post_delete' id=post.id %}" class="btn btn-outline-light mx-1">删除文章</a>
                {% endif %}
            </div>
        </div>
        <hr style="border-color: #444; border-width: 1px;">
        <div class="d-flex justify-content-between mb-2">
            <div>作者：{{ post.author.username }}</div>
            <div>发布时间：{{ post.publish_date|date:"Y-m-d H:i" }}</div>
        </div>
        <hr style="border-color: #444; border-width: 1px;">

        <p class="card-text">{{ post.content|linebreaks }}</p>
    </div>
</div>
{% endblock %}