{% extends "blog/base.html" %}

{% block content %}

{% for post in posts %}
<div class="card" style="background-color: #1e1e1e; color: white;">
    <div class="card-body">
        <div class="d-flex justify-content-between">
            <div>
                <h2 class="card-title">{{ post.title }}</h2>
            </div>
            <div><a href="{% url 'post_detail' post.id %}" class="btn btn-primary">查看详情</a></div>
        </div>

        <div class="d-flex justify-content-between">
            <div>作者：{{ post.author.username }}</div>
            <div>发布时间：{{ post.publish_date|date:"Y-m-d H:i" }}</div>
        </div>
        <p class="card-text">{{ post.content|truncatewords:50 }}</p>
    </div>
</div>
<br>
{% endfor %}


{% endblock %}