{% extends 'blog/base.html' %}


{% block content %}
<div class="row">
    <div class="col-md-12">
        <div class="row">
            <div class="col h1">
                标题：{{post.title}}
            </div>
            <div class="col text-end">
                {% if user.is_authenticated %}
                <a class="btn btn-primary" href="{% url 'post_edit' pk=post.pk %}">修改文章</a>
                <a class="btn btn-primary" href="{% url 'remove_post' pk=post.pk %}">删除文章</a>
                {% endif %}
            </div>
        </div>
    </div>
    <hr>
    <div class="col-md-12 text-end">
        发布时间：{{post.publish_date}}
    </div>
    <div class="col-md-12">
        <p>内容：{{post.text}}</p>
    </div>
    <hr>
</div>
{% endblock %}